*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 1; 
}

.sectiontwo-image {
    width: 100%;
    height: 40rem;
    opacity: 0.7;
    filter: blur(3px);
}

.box {
    width: 15rem;
    height: 22rem;
    background-color: rgb(97, 97, 124);
    margin-right: 10px;
    opacity: 0.6;
}
