.section {
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: left;
}
.section-image {
    max-width: 90%; /* Resmin maksimum genişliğini ekran genişliğinin %60'ı olarak ayarlayın */
    max-height: 570px; /* Resmin maksimum yüksekliğini 300 piksel olarak ayarlayın */
    display: block; /* Resmi blok öğe olarak ayarlayın */
    margin: 0 auto; /* Resmi ortalamak için sağ ve sol kenar boşluklarını otomatik olarak ayarlayın */
}
